[submodule "src/livox_ros_driver2_humble"]
	path = src/livox_ros_driver2_humble
	url = https://gitee.com/SMBU-POLARBEAR/livox_ros_driver2_humble.git
[submodule "src/fast_lio_multi"]
	path = src/fast_lio_multi
	url = https://github.com/Draxran/FAST_LIO_MULTI_ROS2.git
